<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-6 border-right bg-primary" style="background-color: rgba(0,0,255,.1)">
      <div class="min-vh-100 d-flex align-items-center justify-content-center">
        <a class="align-items-center d-inline-flex fw-bold h4 mb-0 navbar-brand text-uppercase" href="/">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 100 100" width="5.0em" height="5.0em" class="me-1 text-white" fill="currentColor">
            <path d="M90 42.301 76.666 19.209l-13.334 7.699V10H36.667v16.908l-13.335-7.699L10 42.301 23.332 50 10 57.698l13.331 23.093 13.335-7.698V90h26.666V73.093l13.334 7.698L90 57.698 76.666 50 90 42.301zm-9.107 17.84-6.666 11.543-17.561-10.138v21.787H43.332V61.546L25.774 71.684l-6.666-11.543L36.667 50 19.108 39.863l6.666-11.549 17.558 10.14V16.667h13.334v21.787l17.561-10.14 6.666 11.549L63.332 50l17.561 10.141z"/>
          </svg>
          <span class="h1 text-white">Health Hub</span>
        </a>
      </div>
    </div>

    <div class="col-6 align-self-center">
      <div class="form-signin w-50 m-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-floating">
            <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: 'form-control phone-mask', placeholder: 'Phone' %>
            <%= f.label :phone, 'Phone' %>
          </div>
          <div class="form-floating">
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
            <%= f.label :password, 'Password' %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <label>
              <%= f.check_box :remember_me, label: false %>
              Remember me
            </label>
          <% end -%>
          <%= f.button "Sign in", class: 'w-100 btn btn-lg btn-primary' %>
            <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
        <% end %>
      </div>
    </div> <!-- /container --> 
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.phone-mask').mask("+38(999)999-99-99"); 
  });
</script>
